body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(50, 50, 50);
    font-family: sans-serif;
}

#GSMprompt {
    position: absolute; 
    backdrop-filter: blur(10px); 
    width: 100%; 
    height: 100%;
}

#GSMprompt button {
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

#GSMprompt div {
    position: absolute; 
    padding: 10px; 
    background-color: rgba(0, 0, 0, .5); 
    max-width: 80%; 
    width: 300px; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    text-align: center; 
    color: white; 
    border-radius: 5px;
}

#GSMprompt span {
    font-size: 20px;
}